.loginbox, .signupbox {
  background-image: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);
}

.login--title, .login--content {
  color: #FFF;
}

.sign-in--btn {
  background-color: #FFF !important;
  border-color: #FFF !important;
  color: #000 !important;
}

.sign-up--btn {
  background-color: #3AB395 !important;
  border-color: #3AB395 !important;
  color: #FFF !important;
}

.form-control:not(active) {
  background-color: #eef5f3;
  border-color: #eef5f3;
  border-radius: 20px;
}

button[type="submit"], button[type="button"] {
  border-radius: 20px;
}

.login--col {
  height: 75vh;
}
